/*body{
	background-color: #120201;
}
*/
.nav-content{
	color: blue;
	display: inline;
	margin-left: 15%;
	font-size: 30px;
}

.nav-content a{
	text-decoration: none;
	margin-left: 10%; 
}

.post-form{
	width: 500px;
	height:250px;
	border-width: 3px;
}

.image{
	width:1000px;
	height: 500px;
	margin-left: 10%;
}

button{
  background-color: #008CBA; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 4px;
  border: 2px solid #555555;;
}

.btn{
	margin-left: 40%;
}

#data1, #data2, #project, #exsheets{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.formdiv{
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	font-size: 17px;
}

#excel{
	background-color: #008CBA; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 4px;
  border: 2px solid #555555;;

}

.myfeed{
	color: green;
	font-size: 20px;
	display: grid;
	margin-left: 13%;
	margin-top: 10px;

	
}
.conts{
	display: grid;
	margin-top: 5%;
	margin-left: 30%; 
}
/*.desc{
	margin-left: 20%
}*/

.myfeed, .desc{
	margin-top: 0;
}

.message-fail{
	color:red;
}

.message-success{
	color:green;
}

.message-neutral{
	width: inherit;
	height: 300px;
	color:green;
	
  	border-radius: 10px;
  	
  	background-color: #eee;
  	overflow: scroll;
}


.chart-line {
	width: 200px;
	height:200px;
	margin-top:100px;
	
}

.chart-line, .chart-bars{
	margin-left: 45px;
}

.chart-bars{
	font-size: 200px;
	
}

.seg-div{
	display: grid;
	margin-top: 50px;
}

a{
	text-decoration: none;
}
.chart-line-text{
	margin-left: 25%;
	color: black;
}

.chart-line-text:hover{
	color:green;
}

.back{
	margin-left: 40%;
}

.directories{
	display: flex;
	margin-left: 50px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
/*.created-form{
	display: none;
}*/

/*.nav-content ul{
	
}*/