{% from "_formhelpers.html" import render_field %}

{% extends "base.html" %}

<!DOCTYPE html>
<html>
<head>
{% block title %}
	<title>Dashboard</title>
{% endblock %}
</head>

{% block body %}
<body>
	
	<nav id="nav-content" class="nav-content">
		<a href="/">Dashboard</a>
		<a href="#">Profile</a>
		<a href="/feed">My Feeds</a>
	</nav>

	
	<div>
   <a href="/plotchart"><img src="static/images/linechart.jpg" class="chart-line"> 
    <h2 class="chart-line-text">Line Charts</h2></a>

  </div>



</body>
{% endblock %}

</html>
